{% extends 'base.html.twig' %}

{% block title %}Hello UsersController!{% endblock %}

{% block body %}
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="/users/delete-all" class="btn btn-primary me-md-2" type="button">Delete All</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Last Login Time</th>
                <th scope="col">Registration Time</th>
                <th scope="col">Axtions</th>
            </tr>
        </thead>
        <tbody>
            {% for u in users %}
                <tr>
                    <td>{{ u.id }}</td>
                    <td>{{ u.name }}</td>
                    <td>{{ u.email }}</td>
                    <td>{{ u.lastLoginTime|date('Y-m-d H:i:s') }}</td>
                    <td>{{ u.registrationTime|date('Y-m-d H:i:s') }}</td>
                    <td><a href="/users/delete/{{ u.id }}" class="btn btn-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
